In [1]:
import pandas
pandas.set_option('display.max_columns', None)
from nba import br_extractor
extractor = br_extractor.BRExtractor()

In [2]:
stats = extractor.get_mvp(subset_by_seasons=[1995, 2019])

Retrieving MVP of season 1995 ...
Retrieving MVP of season 2019 ...

In [3]:
stats.sample(10)

,PLAYER,TEAM,SEASON,MVP_VOTES_SHARE,MVP_WINNER,MVP_PODIUM,MVP_CANDIDATE
player_season_team,,,,,,,
JohnStockton_1995_UTA,John Stockton,UTA,1995,0.045,False,False,True
StephenCurry_2019_GSW,Stephen Curry,GSW,2019,0.173,False,False,True
JasonKidd_1995_DAL,Jason Kidd,DAL,1995,0.007,False,False,True
KevinDurant_2019_GSW,Kevin Durant,GSW,2019,0.025,False,False,True
PatrickEwing_1995_NYK,Patrick Ewing,NYK,1995,0.219,False,False,True
KarlMalone_1995_UTA,Karl Malone,UTA,1995,0.507,False,True,True
MichaelJordan_1995_CHI,Michael Jordan,CHI,1995,0.011,False,False,True
JamesHarden_2019_HOU,James Harden,HOU,2019,0.768,False,True,True
JoelEmbiid_2019_PHI,Joel Embiid,PHI,2019,0.049,False,False,True
DennisRodman_1995_SAS,Dennis Rodman,SAS,1995,0.009,False,False,True

In [4]:
stats = extractor.get_mvp()

Retrieving MVP of season 1974 ...
Retrieving MVP of season 1975 ...
Retrieving MVP of season 1976 ...
Retrieving MVP of season 1977 ...
Retrieving MVP of season 1978 ...
Retrieving MVP of season 1979 ...
Retrieving MVP of season 1980 ...
Retrieving MVP of season 1981 ...
Retrieving MVP of season 1982 ...
Retrieving MVP of season 1983 ...
Retrieving MVP of season 1984 ...
Retrieving MVP of season 1985 ...
Retrieving MVP of season 1986 ...
Retrieving MVP of season 1987 ...
Retrieving MVP of season 1988 ...
Retrieving MVP of season 1989 ...
Retrieving MVP of season 1990 ...
Retrieving MVP of season 1991 ...
Retrieving MVP of season 1992 ...
Retrieving MVP of season 1993 ...
Retrieving MVP of season 1994 ...
Retrieving MVP of season 1995 ...
Retrieving MVP of season 1996 ...
Retrieving MVP of season 1997 ...
Retrieving MVP of season 1998 ...
Retrieving MVP of season 1999 ...
Retrieving MVP of season 2000 ...
Retrieving MVP of season 2001 ...
Retrieving MVP of season 2002 ...
Retrieving MVP of season 2003 ...
Retrieving MVP of season 2004 ...
Retrieving MVP of season 2005 ...
Retrieving MVP of season 2006 ...
Retrieving MVP of season 2007 ...
Retrieving MVP of season 2008 ...
Retrieving MVP of season 2009 ...
Retrieving MVP of season 2010 ...
Retrieving MVP of season 2011 ...
Retrieving MVP of season 2012 ...
Retrieving MVP of season 2013 ...
Retrieving MVP of season 2014 ...
Retrieving MVP of season 2015 ...
Retrieving MVP of season 2016 ...
Retrieving MVP of season 2017 ...
Retrieving MVP of season 2018 ...
Retrieving MVP of season 2019 ...

In [5]:
stats.sample(5)

,PLAYER,TEAM,SEASON,MVP_VOTES_SHARE,MVP_WINNER,MVP_PODIUM,MVP_CANDIDATE
player_season_team,,,,,,,
MichaelJordan_1998_CHI,Michael Jordan,CHI,1998,0.934,True,True,True
DirkNowitzki_2003_DAL,Dirk Nowitzki,DAL,2003,0.036,False,False,True
DraymondGreen_2016_GSW,Draymond Green,GSW,2016,0.038,False,False,True
ShaquilleO'Neal_2001_LAL,Shaquille O'Neal,LAL,2001,0.466,False,True,True
AlonzoMourning_1996_MIA,Alonzo Mourning,MIA,1996,0.005,False,False,True

In [6]:
for col in "MVP_WINNER", "MVP_PODIUM", "MVP_CANDIDATE":
    print("\nTOP 5", col)
    print(stats.groupby("PLAYER").sum()[col].sort_values(ascending=False).head(5))

TOP 5 MVP_WINNER
PLAYER
Michael Jordan         5.0
Kareem Abdul-Jabbar    4.0
LeBron James           4.0
Larry Bird             3.0
Moses Malone           3.0
Name: MVP_WINNER, dtype: float64

TOP 5 MVP_PODIUM
PLAYER
Michael Jordan    10.0
LeBron James      10.0
Magic Johnson      9.0
Larry Bird         8.0
Karl Malone        5.0
Name: MVP_PODIUM, dtype: float64

TOP 5 MVP_CANDIDATE
PLAYER
LeBron James        16.0
Tim Duncan          16.0
Karl Malone         15.0
Shaquille O'Neal    14.0
Hakeem Olajuwon     13.0
Name: MVP_CANDIDATE, dtype: float64

In [7]:
for col in "MVP_WINNER", "MVP_PODIUM", "MVP_CANDIDATE":
    print("\nTOP 5", col)
    print(stats.groupby("TEAM").sum()[col].sort_values(ascending=False).head(5))

TOP 5 MVP_WINNER
TEAM
LAL    8.0
CHI    6.0
HOU    4.0
PHI    3.0
BOS    3.0
Name: MVP_WINNER, dtype: float64

TOP 5 MVP_PODIUM
TEAM
LAL    21.0
SAS    15.0
CHI    12.0
BOS    11.0
HOU     8.0
Name: MVP_PODIUM, dtype: float64

TOP 5 MVP_CANDIDATE
TEAM
LAL    53.0
SAS    53.0
BOS    43.0
UTA    40.0
PHO    38.0
Name: MVP_CANDIDATE, dtype: float64

In [7]:
stats.to_csv("./data/all_mvp_awards.csv")